{{#if errors.length}}
	<p>Could not sign up because:</p>
	<ul>
		{{#each errors}}
			<li style="display:inline-block; width: 50%; margin: auto; font-family: Helvetica, Arial, sans-serif; border: 3px solid #990000; border-radius: 4px; color: #ff0000; text-decoration: #990000; display:block; height: 50px; text-align: center; line-height: 50px; background: #ffcccc;">{{this}}</li>
		{{/each}}
	</ul>
{{/if}}

<div style="width: 50%; margin: auto;">
    <h2>Sign-up</h2>
    <form action="/modifyPassword" method="POST">
        <label>Old Password</label></br>
        <input name="oldPassword" style="border-radius: 4px" type="password" required></br></br>
        <label>New Password</label></br>
        <input name="newPassword" style="border-radius: 4px" type="password" required></br></br>
        <label>Confirm password</label></br>
        <input name="newPasswordConfirm" style="border-radius: 4px" type="password" required></br></br>
        <input type="submit" value="Submit">
    </form>
    <a href="/account">Cancel</a>
</div>
