<h2>New weight</h2>
<form action="/newWeight" method="POST">
    <label>Date</label>
    <input name="date" type="date" value="{{date}}" required></br>
    <label>Weight</label>
    <input name="weight" type="text" value="{{weight}}" required></br>
    <input type="submit" value="Create">
</form>
<a href="/account">Cancel</a>