{{#if errors.length}}
	<p>Could not sign up because:</p>
	<ul>
		{{#each errors}}
			<li style="display:inline-block; width: 50%; margin: auto; font-family: Helvetica, Arial, sans-serif; border: 3px solid #990000; border-radius: 4px; color: #ff0000; text-decoration: #990000; display:block; height: 50px; text-align: center; line-height: 50px; background: #ffcccc;">{{this}}</li>
		{{/each}}
	</ul>
{{/if}}

<div style="width: 50%; margin: auto;">
    <h2>Sign-up</h2>
    <form action="/accounts/subscribe" method="POST">
        <label>User name</label></br>
        <input name="userName" type="text" style="border-radius: 4px" value="{{userName}}" required></br></br>
        <label>Password</label></br>
        <input name="password" style="border-radius: 4px" type="password" required></br></br>
        <label>Confirm password</label></br>
        <input name="passwordConfirm" style="border-radius: 4px" type="password" required></br></br>
        <label>Birth date</label></br>
        <input name="birthday" style="border-radius: 4px" type="date" value="{{date}}" required></br></br>
        <label>City you live in</label></br>
        <input name="city" style="border-radius: 4px" type="text" value="{{city}}" required></br></br></br>
        <input type="submit" value="Subscribe">
    </form>
    <a href="/login">Already registered ?</a>
</div>